.display_flex {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
}

.pilot {
  display: flex;
  width: 7cm;
}

.update {
  width: 4.3cm;
  height: 6.5cm;
}